.page-text {
    text-align: center;
    margin-top: 3rem;
}

.text-design {
    color: rgb(255, 255, 255);
}

.term-seperator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.planet-sub,
.dwarf-planet-sub {
    text-align: center;
    /* Removed flex: 1 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planet-img,
.dwarf-planet-img {
    width: 15rem;
}

.planet-description,
.dwarf-planet-description {
    font-size: 1rem;
    margin: 0 auto;
}

.planet-btn,
.dwarf-planet-btn {
    margin-top: 2rem;
    background-color: rgb(255, 71, 71);
    color: white;
    border-radius: 0.5rem;
    width: 5rem;
    height: 2rem;
}

.planet-btn:hover,
.dwarf-planet-btn:hover {
    box-shadow: 0 0 25px rgb(255, 145, 145);
}

.seperator {
    border: 1px solid rgb(255, 255, 255);
    padding-top: 25em;
}

@media (min-width: 768px) {
    .term-seperator {
        flex-direction: column;
        margin-top: 3rem;
    }

    .seperator {
        border: none;
        padding-top: 0;
    }

    .planet-btn,
    .dwarf-planet-btn {
        margin-bottom: 3rem;
    }

    .topic-name {
        font-size: 2rem;
        margin: 0 auto;
    }
}