* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: calc(1em * 0.5rem);
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

body {
    background-image: url('/Images/space-background-web.jpg');
    padding: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;

}

p,
h2 {
    color: white;
}

@media (max-width: 425px) {
    body {
        background-image: url('/Images/space-background-mobile.jpg');
    }
}